<h1>Welcome to the randomizer:</h1>
<p id="error"><%= flash[:notice] %></p>
<% if @cookie %> cookie = 
<% @cookie.each do |x| %>
  <%= x %>
  <% end%> 
<% end %>


  <% @random_choices.each do |tipp| %>
  <article style="background-image: url(<%= tipp.image_url if tipp.image? %><%= tipp.remote_image_url if tipp.image? %>)">
    <div class='textbox'>
      <h2><% if tipp.offer %> Special! @ <% end %> <%= tipp.name %> </h2> 
    </div>
<ul>

    <div class='textbox'>
    <%= tipp.streetname %>,<%= tipp.city_id %>
    </div>
 

<% if Comment.find_by(tipp_id: tipp.id) %>
    <div class='textbox comment'>   
    <%= Comment.random_comment(tipp.id) %>
    </div>
    <% end %>
  <% if tipp.website %><div class='textbox'><%= tipp.website %></div><% end %> 
 
</ul>
  </article>
  <% end %>