<h1>Welcome to the randomizer:</h1>
<p id="error"><%= flash[:notice] %></p>
<% if @cookie %> cookie = 
<% @cookie.each do |x| %>
  <%= x %>
  <% end%> 


<% end %>


  <% @random_choices.each do |tipp| %>
  <article>
    <h2> <%= tipp.name %> </h2> (<%= tipp.streetname %>,<%= tipp.city_id %>)
  </article>
  <% end %>