
<h1> Search for an Tipp to give feedback: </h1>


<%= form_tag(feedback_index_path, :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Tipps" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<% if @tipps%>
  <h2>
  <%= @tipps.name %> <%= @tipps.points %>
<%= button_to "Up", feedback_new_path(vote: "up",tipp:@tipps.id), :method => "post" %>
<%= button_to "Down", feedback_new_path(vote: "down",tipp:@tipps.id), :method => "post" %>
<%= button_to "Tweet", url:"https://twitter.com/share", class:"twitter-share-button" %>

  </h2>
<% end %>


<%= flash[:voted] %>

<% if @stuff%>
  <%= @stuff %>
<% end %>


