
<h1> Search for an Tipp to give feedback: </h1>


<%= form_tag(feedback_index_path, :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Tipps" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if flash[:notice] && @alltipps %>
  <%= flash[:notice] %> 
    

    Do you mean...
    <% @alltipps.each do |x| %>
    <%=  x.name %>
    <% end %>

<% end %>


<% if @tipps%>
  <h2>
  <%= @tipps.name %> <%= @tipps.points %>
<%= button_to "Up", feedback_new_path(vote: "up",tipp:@tipps.id), :method => "post" %>
<%= button_to "Down", feedback_new_path(vote: "down",tipp:@tipps.id), :method => "post" %>

<a href="https://twitter.com/share" data-text="I just discoverd something new in <%= @tipps.city.name%>: <%= @tipps.name%> #randomizer #barcelona" data-url="www.randomizer.com" data-related="@kind_of_Ruby" <%if @tipps.twitter %> <%=@tipps.twitter %> <% end %> class="twitter-share-button" data-lang="en" data-count="none" > Tweet </a>

  </h2>
<% end %>


<%= flash[:voted] %>

<% if @stuff%>
  <%= @stuff %>
<% end %>


<script> App.checkDuplicated();

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

</script>