<!DOCTYPE html>
<html>
<head>
  <title> Randomizer </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<div class="container-fluid">


  <nav class="row">
    
      <div class="col-xs-12 col-sm-2">

        <div class="button"><%= link_to('home', tipps_path) %></div> 

      </div>
      
      <div class="col-xs-12 col-sm-2">

        <div class="button"><%= link_to('Feedback', feedback_index_path, :method => :get) %></div>  
      </div> 
      
      <div class="col-xs-12 col-sm-2">

        <div class="button"><%= link_to('new', new_tipp_path, :method => :get) %></div>

      </div>  

      <div class="col-xs-12 col-sm-2 col-sm-offset-2">

        <% if current_user %>
      Hello <%= current_user.name.capitalize %>, you are signed in
        <% else %>
      you are not signed in  
        <% end %>
      

      </div>
      
      <div class="col-xs-12 col-sm-2 signin">
         
         <div>
          <% if user_signed_in? %>
            <div class="button"> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </div>
            
          
          <% else %>
            <div class="button"> <%= link_to('Sign in', new_user_session_path) %></div>
            <div class="button signup"> <%= link_to('Sign up', new_user_registration_path) %></div>
          <% end %>
          </div>
        
    </div>

  </nav>  

<%= yield %>


</div>
</body>
</html>
