<!DOCTYPE html>
<html>
<head>
  <title> Randomizer </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<div class="container-fluid">


  <nav>
    <ul class="row">
      <li class="col-xs-12"><%= link_to('home', tipps_path) %></li>
      
      <li class="col-xs-12"><%= link_to('Feedback', feedback_index_path, :method => :get) %></li> 
      
      <li class="col-xs-12"><%= link_to('new', new_tipp_path, :method => :get) %></li>  

      <li class="col-xs-12">
        <% if current_user %>
      Hello <%= current_user.name.capitalize %>, you are signed in
        <% else %>
      you are not signed in  
        <% end %>
      </li>
      
        <% if user_signed_in? %>
      <li class="col-xs-12"> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
        
        <% else %>
      <li class="col-xs-12"> <%= link_to('Sign in', new_user_session_path) %> </li>
      <li class="col-xs-12"> <%= link_to('Sign up', new_user_registration_path) %> </li>
        <% end %>
    </ul>
    
  </nav>  

<%= yield %>


</div>
</body>
</html>
